alembic==1.14.1
annotated-types @ file:///croot/annotated-types_1709542908624/work
anyio @ file:///croot/anyio_1706220167567/work
bcrypt==4.3.0
cffi==1.17.1
click @ file:///work/perseverance-python-buildout/croot/click_1698845879718/work
cryptography==44.0.2
dnspython==2.7.0
ecdsa==0.19.1
email_validator==2.2.0
fastapi @ file:///work/perseverance-python-buildout/croot/fastapi_1707343766100/work
greenlet==3.1.1
h11 @ file:///croot/h11_1706652277403/work
idna @ file:///croot/idna_1714398848350/work
iniconfig==2.0.0
Jinja2==3.1.6
Mako==1.3.9
MarkupSafe==3.0.2
packaging==24.2
passlib==1.7.4
pluggy==1.5.0
psycopg==3.2.6
psycopg-binary==3.2.6
psycopg2==2.9.10
pyasn1==0.4.8
pycparser==2.22
pydantic @ file:///croot/pydantic_1709577974639/work
pydantic_core @ file:///croot/pydantic-core_1709573961665/work
pytest==8.3.3
python-dotenv==1.1.0
python-jose==3.4.0
python-multipart==0.0.20
rsa==4.9.1
setuptools==72.1.0
six==1.17.0
sniffio @ file:///croot/sniffio_1705431295498/work
sqladmin==0.20.1
SQLAlchemy==2.0.38
starlette @ file:///work/perseverance-python-buildout/croot/starlette-recipe_1707343489817/work
typing_extensions @ file:///croot/typing_extensions_1715268824938/work
uvicorn @ file:///work/perseverance-python-buildout/croot/uvicorn-split_1698903729429/work
wheel==0.43.0
WTForms==3.1.2
