/* SETUP */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: 'Roboto', sans-serif;
    background-color: lightblue;
    line-height: 1.6;
    scroll-behavior: smooth;
}

.navbar {
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 1rem;
}
.navbar-left {
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 0 2rem;
}
nav button {
    font-size: 2rem;
    background-color: orange;
}

a {
    text-decoration: none;
    color:aliceblue;
    font-size: 2rem;
}

ul {
    list-style: none;
}

h2 {
    color: blue;
    font-size: 3rem;
    
}
.button_visible {
    visibility: visible;
}
.button_hidden{
    visibility: hidden;
}
/* #UserName {
    visibility:hidden;
    gap:0;
} */